<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= localVars.title %></title>
</head>
<body>
        <div class="hero__container gradient-background">
            <h1 class="hero__header"><svg xmlns="http://www.w3.org/2000/svg"  width="50px" height="50px" fill="currentColor" class="bi bi-bank pl-2 course__flow__logo" viewBox="0 0 16 16">
                <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
              </svg> <span class="hero__title"> <%= localVars.title %> </span></h1>
            <p class="hero__body"><%= localVars.description %></p>
            <button class="hero__login btn">Login</button>
            <button class="hero__signup btn">Sign Up</button>
        </div>
        

    
</body>
</html>